* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
    font-family: "cookie";
  }

  main {
    overflow-x: hidden;
  }



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'roboto', sans-serif;
    padding-top: 21px;
    background-color: #F4E3FD;
}

header button {
    padding: 5px 15px;
    border-radius: 30px;
    background-image: url(./assets/bg-re.jpg);
    background-size: cover;
    margin-left: 50px;
}

header button a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 1px #8F00FF80;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #FF16E880;
}

header button:hover {
    padding: 5px 15.5px;
    transform: translateX(-1px);
    transform: translateY(-1px);
    border: .5px solid #9700ae3f;
}

nav {
    display: flex;
    gap: 20px;
    padding-right: 72px;
}

nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s ease;

}

nav a:hover {
    color: #8F00FF80;
    font-size: 15px;
    transform: translateX(5px);
    font-weight: 700;
    
}

#fundo-wave {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    z-index: 0;
    
}

.inicio {
    background: #F4E3FD;
    padding-top: 120px;
    height: 90vh;
}

#titulo {
   margin-left: 195px;
   font-family: 'cookie';
   font-size: 55px;
   font-weight: 400;
   line-height: 45px;
}

ul {
    margin-left: 300px;
    color: #9600AE;
}
ul li {
    font-size: 25px;
    font-family: 'roboto';
}

.inicio div {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 530px;
}

.inicio div h3 {
    color: #fff;
    font-family: 'dancing script';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.seta {
    width: 55px;
    height: 55px;
    margin: 0;
    position: initial;
    border-radius: 30px;
    transition: 1s ease;
}
.seta:hover {
    background-color: #aa0ec2dc;
}

.galeria {
    background: linear-gradient(to top, #9600AE, #FF16E8);
    z-index: 1;
    position: relative;
    padding-top: 150px;
}
.galeria h2 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    width: 100%;
    gap: 10%;
}

.galeria article {
    max-width: 566px;
    max-height: fit-content;
    margin-left: 5%;
    display: flex;
    margin-bottom: 50px;
    overflow-x: hidden;
    background: linear-gradient(to right, #9000ff00, #fd00b1da);
    border-radius: 10px;
}

#slider2 {
    display: flex;
    gap: 21px;
    margin-right: 100px;
}

.divsImg img {
    width: 175px;
    height: 170px;
    border-radius: 6px;
}

.divsImg a {
    height: 100%;
}

#btnJs1 {
    position: absolute;
    top: 490px;
    left: 20px;
    background-color: transparent;
    opacity: 0;
}

#btnJs2 {
    position: absolute;
    top: 490px;
    left: 640px;
    background-color: transparent;
}

#btnJs1 img, #btnJs2 img{
    width: 40px;
}

.lado-direito {
    width: 40%;
}

.lado-direito h4 {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
}

.lado-direito p {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.divImg {
    width: 230px;
    height: 235px;
    margin: auto;
}

.divImg img {
    width: 100%;
    height: 100%;
    position: initial;
}

#procedimentos {
 background-color: #F4E3FD;
 padding-bottom: 50px;
}

#procedimentos h2 {
    font-size: 60px;
    text-align: center;
    color: #9600AE;
    padding-top: 40px;
    margin-bottom: 26px;
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: space-between;
}


.proced1 {
    margin-left: 6%;
}

.proced2 {
    margin-right: 6%;
}

.titlesProcedimento h3 {
    font-size: 27px;
    font-family: "roboto";
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.titlesProcedimento ul   {
    margin-left: 40%;
}

.titlesProcedimento ul li   {
    font-size: 22px;
    line-height: 20px;
}

.procedimento {
    max-width: 550px;
    height: fit-content;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow-y: hidden;
}

.botoes {
    display: flex;
    margin: 0;
    text-align: center;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
}

.botoes li::marker {
    font-size: 32px;
}

.paragrafo {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.textosManiJs, .textosPediJs {
    display: flex;
}

.textosManiJs div p, .textosPediJs div p {
    font-size: 20px;
    letter-spacing: 1.3px;
}

.par1 {
    width: 510px;
    margin-left: 20px;
}

.par2 {
    width: 510px;
    margin-left: 20px;
}

.par3 {
    width: 510px;
    margin-left: 20px;
}

.paragrafo p {
    font-size: 16px;
    font-family: "roboto";
    line-height: 23px;
    margin-block: 35px;
}

.imgProcedimentos {
    border-top: 1px solid rgba(97, 97, 97, 0.5);
    border-bottom: 1px solid rgba(97, 97, 97, 0.5);


    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-block: 30px;
}

.imgProcedimentos img {
    height: 210px;
    width: 200px;

}

#bg-valores {
    width: 100%;
    position: relative;
    z-index: 0;
}

#posicionamento {
    position: relative;
    top: -400px;
}

.valores .flex {
    justify-content: space-around;
}

.valores h3 {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #000;
    margin-block: 50px;
    position: relative;
    z-index: 1;
}

#pacote {
    width: 500px;
    height: 400px;
    background-image: url(./assets/bg-re.jpg);
    box-shadow: 1px 3px 3px #9000ff;
    border-radius: 10px;
    padding-top: 25px;
    margin-bottom: 100px;
}

#somenteUm {
    width: 600px;
    height: 250px;
    background-image: url(./assets/bg-re.jpg);
    box-shadow: 1px 3px 3px #9000ff;
    border-radius: 10px;
    padding-top: 25px;
}

.valores div h4 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

.valores button {
    background-image: url(./assets/bg-re.jpg);
    border-radius: 30px;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: center;
}

#divBtn {
    display: flex;
    justify-content: center;
}

.valores button a {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 1px #8F00FF80;
}



